@model MoviesDataBase.Models.Models.Movie_related_models.Cast


<div class="card m-2">
    <p class="card-header font-weight-lighter bg-dark text-center text-info">@Model.Name</p>
    <p class="card-header font-weight-lighter bg-dark text-center">@Model.Character</p>
    <img class="card-img-bottom" src="@Model.ProfilePath" alt="@Model.ProfilePath">
</div>

