
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form class="form-inline" asp-action="MovieSearch" asp-controller="Home" method="get">
    <div class="input-group">
        <span class="input-group-text">Movie name</span>
        <input type="text" name="searchQuery" id="searchQuery" class="form-control">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>