@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<br />
<br />

<div class="container m-5">
    <div class="card">
        <div class="card-header display-4">Error.</div>
        <div class="card-body">
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
        <div class="card-footer">
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong class="text-danger">Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div>
</div>

