@model MoviesByOptionsViewModel

<link rel="stylesheet" href="~/css/CardHoverAnimation.css" />

@{
    ViewData["Title"] = "GetMoviesByOption";
}
<br />
<div class="m-lg-5">

    <p class="display-3 text-info text-center">@Model.OptionName</p>

    <partial name="_MovieOptionsPagination" model="Model" />

    <div class="row">
            <partial name="_GenericMovieList" model="Model.MovieResponse" />
    </div>

    <partial name="_MovieOptionsPagination" model="Model" />

</div>
